name: Build

on:
  push:
    branches: # ignore any tags
      - '**'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  build:
    strategy:
      matrix:
        target:
          - aarch64-linux-android
    env:
      RUST_BACKTRACE: full
    runs-on: 'ubuntu-latest'
    steps:
      - name: Cleanup pre-installed tools
        run: |
          # This is a fix for https://github.com/actions/virtual-environments/issues/1918
          shopt -s nullglob
          sudo rm -rf /usr/share/{dotnet,swift,az*,gradle*,*conda} \
            /opt/{ghc,az} \
            /usr/local/share/boost /usr/local/graalvm /usr/local/julia* "$AGENT_TOOLSDIRECTORY"

      - uses: actions/checkout@v4

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ matrix.target }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-${{ matrix.target }}

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true

      - name: Install cross
        continue-on-error: true
        run: |
          cargo install cross --git https://github.com/cross-rs/cross || true
          cross --version

      - name: Build ${{ matrix.target }}
        run: |
          set -e
          cargo update
          target=${{ matrix.target }}
          name=${{ github.event.repository.name }}
          cross build --release --target $target --features inotify,callback,download

          FILE=$name-${GITHUB_SHA::7}-$target.xz
          xz -cv target/$target/release/$name > $FILE
          echo "FILE=$FILE" >> "$GITHUB_ENV"

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FILE }}
          path: ${{ env.FILE }}
